{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}adoption{% endblock title %}
{% block content %} 
<h2>creacion de producto</h2>
 <section id="galeria" class="pages">
         <div class="jumbotron" data-stellar-background-ratio="0.5">
            <!-- Heading -->
            <div class="jumbo-heading" data-stellar-background-ratio="1.2">
               <h1>Galeria</h1>
            </div>
         </div>
         <div class="container">
         	<div> 
         		<form enctype='multipart/form-data'method="post"> 
         		{% csrf_token %}
   					{{ form }}
    				<button type="submit">Guardar</button>
				</form>
         	</div>
            <div class="nav-gallery col-md-12">
               <!-- Gallery Navigation -->
               <div class="text-center col-md-12">
                  <ul class="nav nav-pills category text-center" role="tablist" id="gallerytab">
                     <li class="active"><a href="#" data-toggle="tab" data-filter="*">Productos</a>
                  </ul>
               </div>
            </div>
         <!-- /nav-gallery -->
            <!-- Gallery Starts-->
            
         <!-- /container -->
      </section>   
{% endblock content %}
