{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}contact{% endblock title %}
{% block slide %}
 <section id="contactos" class="pages no-padding">
         <div class="jumbotron" data-stellar-background-ratio="0.5">
            <!-- Heading -->
            <div class="jumbo-heading" data-stellar-background-ratio="1.2">
               <h1>Contactos</h1>
            </div>
         </div>
         <!-- container -->
         <div class="container">
            <div class="row">
               <!-- Contact Info -->
               <div class="col-lg-5 col-md-5">
                     <h3>Información </h3>
                     <ul class="list-inline">
                        <li><i class="fa fa-envelope"></i><a href="mailto:youremailaddress">dr-rodrigo-62@hotmail.com</a></li>
                        <li><i class="fa fa-phone margin-icon"></i>Call Us 0985075872- 2972443</li>
                        <li><i class="fa fa-map-marker margin-icon"></i>Lorem Ipsum 505</li>
                     </ul>
                     <!-- address info -->
                     <p>Puede usar este canal de comunicación para:

                        -Quejas
                        -Cómo utilizar TodoPerros.com (agregar un anuncio, etc.)
                        -Publicitar en nuestra web
                        -Sugerencias
                     Por favor verifica que el email que ingresas esté bien escrito.
                     </p>
               <img src="{% static 'img/contactos.png' %}" alt="" class=" center-block img-responsive">             
               </div>
               <!-- /col-lg-5-->
               <!-- Contact Form -->
               <div class="col-lg-6 col-md-6 col-lg-offset-1 col-md-offset-1 res-margin">
              <h3>Escribenos</h3>
                  <!-- Form Starts -->
                  <div id="contact_form">
                     <div class="form-group">
                        <label>Nombre<span class="required">*</span></label>
                        <input type="text" name="name" class="form-control input-field" required="">                    
                        <label>Email  <span class="required">*</span></label>
                        <input type="email" name="email" class="form-control input-field" required="">           
                        <label>tema</label>
                        <input type="text" name="subject" class="form-control input-field" required="">                            
                        <label>Mensaje<span class="required">*</span></label>
                        <textarea name="message" id="message" class="textarea-field form-control" rows="3"  required=""></textarea>
                     </div>
                     <button type="submit" id="submit_btn" value="Submit" class="btn center-block">Enviar Mensaje</button>
                  </div>
                  <!-- Contact results -->
                  <div id="contact_results"></div>
               </div>
               <!--/col-lg-6 -->             
            </div>
            <!-- /row-->
         </div>
         <!-- /container-->
         <div class="container-fluid margin1">
            <!-- map-->
            <div id="map-canvas"></div>
         </div>
         <!-- /container-fluid-->
      </section>
{% endblock %}

