{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}pricing{% endblock title %}
{% block slide %}
<section id="proveedores" class="pages">
         <div class="jumbotron" data-stellar-background-ratio="0.5">
            <!-- Heading -->
            <div class="jumbo-heading" data-stellar-background-ratio="1.2">
               <h1>Pricing</h1>
            </div>
         </div>
         <!-- container -->
         <div class="container">
            <div class="row">
               <div class="col-md-7 col-md-offset-1 text-center">
                  <h3>Our Plans</h3>
                  <p>Elit uasi quidem minus id omnis a nibh fusce mollis imperdie tlorem ipuset phas ellus ac sodales Lorem ipsum dolor Phas ellus 
                     consectetur adipisicing elit uasi quidem minus id omnis a nibh fusce mollis imperdie tlorem ipuset campas fincas
                     Lorem ipsum dolor Phas ellus ac sodales felis tiam.
                  </p>
                  <a class="btn" href="contact.html">Contact us</a>
               </div>
               <!-- /col-md-6 -->
               <!-- image -->
               <div class="col-md-3">
                  <img src="{% static 'img/pricing.png' %}" alt="" class="center-block img-responsive">
               </div>
               <!-- /col-md-3 -->
            </div>
            <!-- /row -->
            <div class="price-table margin1">
               <!-- Price table 1 -->
               <div class="col-lg-3 col-md-6">
                  <div class="plan">
                     <!-- price table header -->
                     <header>
                        <i class="flaticon-track"></i>
                        <h5 class="plan-title">
                           Basic
                        </h5>
                        <div class="plan-cost"><span class="plan-price">$99</span></div>
                     </header>
                     <!-- plan features -->
                     <ul class="plan-features">
                        <li>Vet Services
                        </li>
                        <li>Dog Walking
                        </li>
                        <li>Premium Pet Food
                        </li>
                        <li>Pet Hotel
                        </li>
                        <li>24/7 Support
                        </li>
                        <li>Special Services
                        </li>
                     </ul>
                     <!-- /plan features -->
                     <!-- button -->
                     <div class="text-center">
                        <a class="btn" href="contact.html">Contact us</a>
                     </div>
                     <!-- /text-center -->  
                  </div>
               </div>
               <!-- /Price table 1 -->
               <!-- Price table 2 -->
               <div class="col-lg-3 col-md-6">
                  <div class="plan">
                     <!-- price table header -->
                     <header>
                        <i class="flaticon-toyger-cat"></i>
                        <h5 class="plan-title">
                           Business
                        </h5>
                        <div class="plan-cost"><span class="plan-price">$199</span></div>
                     </header>
                     <!-- plan features -->
                     <ul class="plan-features">
                        <li>Vet Services
                        </li>
                        <li>Dog Walking
                        </li>
                        <li>Premium Pet Food
                        </li>
                        <li>Pet Hotel
                        </li>
                        <li>24/7 Support
                        </li>
                        <li>Special Services
                        </li>
                     </ul>
                     <!--/ plan features -->
                     <!-- button -->
                     <div class="text-center">
                        <a class="btn" href="contact.html">Contact us</a>
                     </div>
                     <!-- /text-center -->
                  </div>
               </div>
               <!-- /Price table 2 -->
               <!-- Price table 3 -->
               <div class="col-lg-3 col-md-6">
                  <div class="plan featured">
                     <!-- price table header -->
                     <header>
                        <i class="flaticon-long-haired-dog-head"></i>
                        <h5 class="plan-title">
                           Special
                        </h5>
                        <div class="plan-cost"><span class="plan-price">$450</span></div>
                     </header>
                     <!-- plan features -->
                     <ul class="plan-features">
                        <li>Vet Services
                        </li>
                        <li>Dog Walking
                        </li>
                        <li>Premium Pet Food
                        </li>
                        <li>Pet Hotel
                        </li>
                        <li>24/7 Support
                        </li>
                        <li>Special Services
                        </li>
                     </ul>
                     <!--/ plan features -->
                     <!-- button -->
                     <div class="text-center">
                        <a class="btn" href="contact.html">Contact us</a>
                     </div>
                     <!-- /text-center -->
                  </div>
               </div>
               <!-- /Price table 3 -->
               <!-- Price table 4 -->
               <div class="col-lg-3 col-md-6">
                  <div class="plan">
                     <!-- price table header -->
                     <header>
                        <i class="flaticon-dog"></i>
                        <h5 class="plan-title">
                           Extreme
                        </h5>
                        <div class="plan-cost"><span class="plan-price">$999</span></div>
                     </header>
                     <!-- plan features -->
                     <ul class="plan-features">
                        <li>Vet Services
                        </li>
                        <li>Dog Walking
                        </li>
                        <li>Premium Pet Food
                        </li>
                        <li>Pet Hotel
                        </li>
                        <li>24/7 Support
                        </li>
                        <li>Special Services
                        </li>
                     </ul>
                     <!-- /plan features -->
                     <!-- button -->
                     <div class="text-center">
                        <a class="btn" href="contact.html">Contact us</a>
                     </div>
                     <!-- /text-center -->
                  </div>
               </div>
               <!-- /Price table 4 -->
            </div>
            <!-- /Price tables  ends -->
         </div>
         <!-- /container-->
      </section>
      <!-- /Section end     
{% endblock %}


