{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}testimonials{% endblock title %}
{% block slide %}
<section id="testimonials" class="pages">
         <div class="jumbotron" data-stellar-background-ratio="0.5">
            <!-- Heading -->
            <div class="jumbo-heading" data-stellar-background-ratio="1.2">
               <h1>Testimonials</h1>
            </div>
         </div>
         <!-- container-->
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <img src="{% static 'img/testimonials.jpg' %}" alt="" class="center-block img-responsive img-rounded">
               </div>
               <!-- /col-md-4 -->
               <div class="col-md-7 res-margin">
                  <h3>Happy Customers</h3>
                  <p>Elit uasi quidem minus id omnis mollis imperdie tlorem ipuset phas ellus ac sodales Lorem ipsum dolor Phas ellus 
                     ac sodales felis tiam non metus. lorem ipsum dolor sit amet, consectetur adipisicing elit uasi quidem minus id omnis a nibh fusce mollis imperdie tlorem ipuset campas fincas
                  </p>
                  <!-- alert -->
                  <div class="alert alert-success">
                     <p>Lorem ipsum dolor Phas ellus ac sodales felis tiam non metus. lorem ipsum dolor sit amet, 
                        consectetur adipisicing elit uasi quidem minus id omnis a nibh fusce mollis imperdie tlorem ipuset campas fincas
                     </p>
                  </div>
                  <!-- /alert -->
               </div>
               <!-- /col-md-8 -->
            </div>
            <!-- row -->
            <!-- Reviews -->
            <div id="owl-reviews" class="owl-carousel margin1">
               <!-- review 1 -->
               <div class="review">
                  <div class="col-xs-12">
                     <!-- caption -->
                     <div class="review-caption">
                        <h5>Sue Shei</h5>
                        <div class="small-heading">
                           Dog Lover
                        </div>
                        <blockquote>
                           Patatemp dolupta orem retibusam qui commolu 
                           Fusce mollis imperdiet interdum donec eget metus auguen unc vel mauris ultricies, 
                           vest ibulum orci eget, viverra.
                        </blockquote>
                     </div>
                     <!-- Profile image -->
                     <div class="review-profile-image">
                        <img src="{% static 'img/review1.jpg' %}" alt=""/>
                     </div>
                     <!--/review profile image -->
                  </div>
                  <!-- /col-xs-12 ends -->
               </div>
               <!-- /review-->
               <!-- review 2 -->
               <div class="review">
                  <div class="col-xs-12">
                     <!-- caption -->
                     <div class="review-caption">
                        <h5>Jonas Smith</h5>
                        <div class="small-heading">
                           Cat Specialist
                        </div>
                        <blockquote>
                           Patatemp dolupta orem retibusam qui commolu 
                           Fusce mollis imperdiet interdum donec eget metus auguen unc vel mauris ultricies, 
                           vest ibulum orci eget, viverra.
                        </blockquote>
                     </div>
                     <!-- Profile image -->
                     <div class="review-profile-image">
                        <img src="{% static 'img/review2.jpg' %}" alt=""/>                      
                     </div>
                     <!--/review profile image -->
                  </div>
                  <!-- /col-xs-12 ends -->
               </div>
               <!-- /review-->
               <!-- review 3 -->
               <div class="review">
                  <div class="col-xs-12">
                     <!-- caption -->
                     <div class="review-caption">
                        <h5>Maria Silva</h5>
                        <div class="small-heading">
                           Exotic Birds Vet
                        </div>
                        <blockquote>
                           Patatemp dolupta orem retibusam qui commolu 
                           Fusce mollis imperdiet interdum donec eget metus auguen unc vel mauris ultricies, 
                           vest ibulum orci eget, viverra.
                        </blockquote>
                     </div>
                     <!-- Profile image -->
                     <div class="review-profile-image">
                        <img src="{% static 'img/review3.jpg' %}" alt=""/>                       
                     </div>
                     <!--/review profile image -->
                  </div>
                  <!-- /col-xs-12 ends -->
               </div>
               <!-- /review-->
               <!-- review 4 -->
               <div class="review">
                  <div class="col-xs-12">
                     <!-- caption -->
                     <div class="review-caption">
                        <h5>Lou Lou</h5>
                        <div class="small-heading">
                           Veterinarian
                        </div>
                        <blockquote>
                           Patatemp dolupta orem retibusam qui commolu 
                           Fusce mollis imperdiet interdum donec eget metus auguen unc vel mauris ultricies, 
                           vest ibulum orci eget, viverra.
                        </blockquote>
                     </div>
                     <!-- Profile image -->
                     <div class="review-profile-image">
                        <img src="{% static 'img/review4.jpg' %}" alt=""/>                       
                     </div>
                     <!--/review profile image -->
                  </div>
                  <!-- /col-xs-12 ends -->
               </div>
               <!-- /review-->
               <!-- review 4 -->
               <div class="review">
                  <div class="col-xs-12">
                     <!-- caption -->
                     <div class="review-caption">
                        <h5>James Doe</h5>
                        <div class="small-heading">
                           Pet Lover
                        </div>
                        <blockquote>
                           Patatemp dolupta orem retibusam qui commolu 
                           Fusce mollis imperdiet interdum donec eget metus auguen unc vel mauris ultricies, 
                           vest ibulum orci eget, viverra.
                        </blockquote>
                     </div>
                     <!-- Profile image -->
                     <div class="review-profile-image">
                        <img src="{% static 'img/review5.jpg' %}" alt=""/>                       
                     </div>
                     <!--/review profile image -->
                  </div>
                  <!-- /col-xs-12 ends -->
               </div>
               <!-- /review-->
            </div>
            <!-- /owl-carousel -->
         </div>
         <!-- /container-->
      </section>
      
{% endblock %}

